
<%-include('srt')-%>
 <nav>
    <a href=""><img src="" alt=""></a>
    <a href="">HOME</a>
    <a href="">CHAT</a>
    <a href="">FEES</a>
    <a href="">REEL</a>
    <a href="">ACOUNT</a>
    <a href="">SEARCH</a>
    <a href=""><%=usr %></a>
    <a href="/logout"><button type="button " class="btx btn">Logout</button></a>
   
 </nav>

    <img class="my" src="static/images/my1.png" alt="">
                  

<%-include('fin')-%>
